@tailwind components;
@tailwind utilities;

:root {
  --rlp-color-border: rgba(53, 55, 59, 1);
  --rlp-color-bg: rgba(27, 29, 33, 1);
  --rlp-color-command-text: rgba(202, 203, 204, 1);
  --rlp-color-command-active-text: rgba(255, 255, 255, 1);
  --rlp-color-command-active-bg: rgba(46, 98, 158, 1);
  --rlp-color-footer-text: rgba(169, 169, 171, 1);
  --rlp-color-footer-bg: rgba(34, 37, 41, 1);
  --rlp-color-input-text: rgba(197, 197, 199);
  --rlp-color-input-placeholder-text: rgba(118, 120, 122, 1);
  --rlp-color-error-text: rgb(220 38 38);
  --rlp-color-loading: rgba(197, 197, 199);
}
